* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  /* fixes focus scrolling in Safari (OS X) */
  overflow-x: hidden;
  /* prevents horizontal scroll bars */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* disable webkit tap highlight */
}
body {
  font-family: "PT Sans", sans-serif;
  line-height: 1.4em;
}
/* Site Header */
header {
  width: 100%;
  height: 30px;
  padding: 0.2em 0.5em;
  color: #b3b3b1;
  background-color: #333332;
}
/* Lists */
nav ul {
  padding: 0;
  margin: 0;
}
/* Container */
#container {
  position: relative;
  padding: 20px 40px;
}
/* Menu Button */
.menu-btn {
  width: 100px;
  padding: 10px;
  margin-bottom: 30px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  background: #333332;
}
.menu-btn:hover {
  color: #ffffff;
  background: #00b4ff;
}
/* Menu Styles */
.sidebar {
  color: #b3b3b1;
}
.sidebar h4 {
  padding: 0.2em 1em;
}
.pushy {
  width: 200px;
  font-size: 0.9em;
  font-weight: bold;
  background: #333332;
  -webkit-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, 0.7);
  box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, 0.7);
}
.pushy a {
  padding: 15px 30px;
  color: #b3b3b1;
  text-decoration: none;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.pushy a:hover {
  color: #ffffff;
  background: #00b4ff;
}
