/**
*
* ! Less-Pushy - v0.1 - 2013-12-13
* Less-Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* by Duncan Lock:
* https://github.com/dflock/less-pushy
*
* Based on Pushy by Christopher Yee:
* https://github.com/christophery/pushy/
*
**/

// Time saving LESS Mixins from https://github.com/dmitryf/elements/
.transform(...) {
    -webkit-transform: @arguments;
    -moz-transform:    @arguments;
    -o-transform:      @arguments;
    -ms-transform:     @arguments;
    transform:         @arguments;
}
.transition(@duration:0.2s, @ease:ease-out) {
    -webkit-transition: all @duration @ease;
    -moz-transition:    all @duration @ease;
    -o-transition:      all @duration @ease;
    transition:         all @duration @ease;
}
.box-shadow(...) {
    -webkit-box-shadow: @arguments;
    -moz-box-shadow:    @arguments;
    box-shadow:         @arguments;
}

/* Menu Appearance */

@menu-width: 200px;
@z-index: 9999;
@speed: .2s;

.pushy {
    position: fixed;
    width: @menu-width;
    height: 100%;
    top: 0;
    z-index: @z-index;
    background: #333332;
    font-size: 0.9em;
    font-weight: bold;
    .box-shadow(inset -10px 0 6px -9px rgba(0, 0, 0, .7));
    overflow: auto;
    /* enables momentum scrolling in iOS overflow elements */
    -webkit-overflow-scrolling: touch;

    a {
        display: block;
        color: #b3b3b1;
        padding: 15px 30px;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        border-top: 1px solid rgba(255, 255, 255, .1);
        text-decoration: none;

        &:hover {
            background: #00b4ff;
            color: #fff;
        }
    }
}


/* Menu Movement */

.pushy-left {
    .transform(translate3d(@menu-width*(-1px),0,0));
}

.pushy-open {
    .transform(translate3d(0,0,0));
}

.container-push, .push-push {
    .transform(translate3d(@menu-width,0,0));
}

/* Menu Transitions */

.pushy, #container, .push {
    .transition(@speed, cubic-bezier(.16, .68, .43, .99));
    /* improves performance issues on mobile*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}

/* Site Overlay */

.site-overlay {
    display: none;
}

.pushy-active .site-overlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: @menu-width;
    z-index: @z-index;
}


// Example Media Query


// @media screen and (max-width: 768px) {
//     .pushy{
//         font-size: 1.0em;
//     }
// }
